<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
<footer class="text-center text-white" th:style="'background-color: #caced1;'" th:fragment="footer">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Images -->
        <section class="">
            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-10 mb-4 mb-md-0 mx-3">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded">
                        <img th:src="@{https://scontent.xx.fbcdn.net/v/t1.15752-9/334900710_887867828958902_160294060310518346_n.jpg?stp=dst-jpg_p206x206&_nc_cat=103&ccb=1-7&_nc_sid=aee45a&_nc_ohc=_KZZp6GPGVwAX_wGByg&_nc_oc=AQnKdZupqHosddklO-1RZcOKKEVQimrgULsCFtKMHWCbFkU1hFUgkv1YIIZjLOUI1irf77xUoH4O27m-8Q4w2mVC&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQiFc5f1lAZkbaawr1URq7CZVfGuIjENfNEkt6IcOL3KA&oe=6431D61A}" class="w-100" />
                        <a href="#!">
                            <div th:style="'background-color: rgba(251, 251, 251, 0.2);'" class="mask"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-10 mb-4 mb-md-0 mx-3">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" th:data-ripple-color="'light'">
                        <img th:src="@{https://scontent.xx.fbcdn.net/v/t1.15752-9/331210723_1965579190500774_2192965623214455943_n.jpg?stp=dst-jpg_s320x320&_nc_cat=107&ccb=1-7&_nc_sid=aee45a&_nc_ohc=P25mwMvRZ-8AX-FS1eI&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSfrTBH5DIsVXiZzGmV82owQdT_pRhAKbCkOtIQRW_dUQ&oe=6431BF01}" class="w-100" height="145" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-10 mb-4 mb-md-0 mx-3">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded">
                        <img th:src="@{https://scontent.xx.fbcdn.net/v/t1.15752-9/334873905_983818455942846_1737549183970184578_n.jpg?stp=dst-jpg_p206x206&_nc_cat=108&ccb=1-7&_nc_sid=aee45a&_nc_ohc=AUg-gcSZBvQAX_72NS9&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSSuUqUVMGY85ArW9DF9HkhSXq6IaxMXqMaHPnuwmk02g&oe=6431C472}" class="w-100" />
                        <a href="#!">
                            <div th:style="'background-color: rgba(251, 251, 251, 0.2);'" class="mask"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-10 mb-4 mb-md-0 mx-3">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded">
                        <img th:src="@{https://scontent.xx.fbcdn.net/v/t1.15752-9/334968641_909386170211163_1937942649193496048_n.jpg?stp=dst-jpg_p206x206&_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_ohc=_nsKEmlL1H4AX-jJaOA&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdS5jeduZwNiv5XidcqVjv1MELeyXTq93yjMI7RKgKPAlA&oe=6431DB9F}" class="w-100" />
                        <a href="#!">
                            <div th:style="'background-color: rgba(251, 251, 251, 0.2);'" class="mask"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-10 mb-4 mb-md-0 mx-3">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded">
                        <img th:src="@{https://scontent.xx.fbcdn.net/v/t1.15752-9/334470191_876613603422381_3003476754626710323_n.jpg?stp=dst-jpg_p206x206&_nc_cat=111&ccb=1-7&_nc_sid=aee45a&_nc_ohc=j_u8dePFKOgAX9lrRsQ&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdR0a3Ma81r4pM4nL-WLTgJUJ5pkjwxKJitqWfkiffOhrQ&oe=6431CADC}" class="w-100" />
                        <a href="#!">
                            <div th:style="'background-color: rgba(251, 251, 251, 0.2);'" class="mask"></div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <br><br>
        <div class="footer-copyright text-center bg-dark py-3">
            NOT ALL WHO WANDER ARE LOST- J.R.R. TOLKIEN
        </div>
    </div>
</footer>

</body>
</html>

